python-apt
python-dateutil
python-debian
python-debianbts
python-ldap
SOAPpy
SQLAlchemy
Tempita
argparse
chardet
decorator
passlib
psycopg2
pyOpenSSL
elementtree
lxml 
nose
simplejson
sqlalchemy-migrate
wsgiref

