Source: sfa
Maintainer: Thierry Parmentelat <Thierry.Parmentelat@inria.fr>
Section: misc
Priority: optional
Standards-Version: 3.9.2
Build-Depends: devscripts, debhelper (>=7.0.50~), debconf, dpatch

Package: sfa-common
Architecture: any
Depends: python (>= 2.5), python-openssl (>= 0.7), python-m2crypto, python-dateutil, python-lxml, python-libxslt1, python-setuptools, python-zsi, postgresql (>= 8.2)
# further depends from fedora - no obvious match on debian for now
###tmp### #Requires: xmlsec1-openssl-devel  (libxmlsec1-dev or libxmlsec1-openssl or ??)
###tmp### #Requires: util-linux-ng
###tmp### # for the registry
###tmp### #Requires: postgresql >= 8.2, postgresql-server >= 8.2
###tmp### # xxx here 
###tmp### Requires: postgresql-python
###tmp### Requires: python-psycopg2
###tmp### # f8=0.4 - f12=0.5 f14=0.6 f16=0.7
###tmp### Requires: python-sqlalchemy
###tmp### Requires: python-migrate
###tmp### # the eucalyptus aggregate uses this module
###tmp### Requires: python-xmlbuilder
Description: Slice Facility Architecture, generic implementation derived from PlanetLab

Package: sfa-flashpolicy
Architecture: any
Depends: sfa-common
Description: SFA support for flash clients

Package: sfa-client
Architecture: any
Depends: sfa-common
Description: sfi, the SFA experimenter-side CLI

Package: sfa-plc
Architecture: any
Depends: sfa-common
Description: the SFA layer around MyPLC

Package: sfa-cm
Architecture: any
Depends: sfa-common
Description: the SFA layer around MyPLC NodeManager

Package: sfa-federica
Architecture: any
Depends: sfa-common
Description: the SFA layer around Federica

Package: sfa-nitos
Architecture: any
Depends: sfa-common
Description: the SFA layer around NITOS

Package: sfa-dummy
Architecture: any
Depends: sfa-common
Description: the SFA layer around a Dummy Testbed 

Package: sfa-sfatables
Architecture: any
Depends: sfa-common
Description: sfatables policy tool for SFA

Package: sfa-xmlbuilder
Architecture: any
Provides: python-xmlbuilder
Description: third-party xmlbuilder tool

Package: sfa-tests
Architecture: any
Depends: sfa-common
Description: unit tests suite for SFA

