Source: sfa
Section: misc
Priority: optional
Maintainer: Jordan Augé <jordan.auge@lip6.fr>
Build-Depends: debhelper (>=7.0.50~), debconf, dpatch
Homepage: http://www.joomla.org
Standards-Version: 3.9.3.1

Package: sfa
Architecture: all
Depends: python-openssl, python-m2crypto, python-dateutil
Description: SFA
 SFA
