M2Crypto==0.21.1
SOAPpy
SQLAlchemy==0.7.8
Tempita==0.5.1
ZSI
argparse==1.2.1
chardet
decorator==3.3.3
## FIXME: could not find svn URL in dependency_links for this package:
##distribute==0.6.24dev-r0
fpconst==0.7.2
lxml==2.3.2
passlib==1.5.3
psycopg2==2.4.5
pyOpenSSL==0.13
python-apt
python-dateutil
python-debian
python-debianbts
python-ldap
sqlalchemy-migrate
wsgiref

