M2Crypto
SOAPpy
SQLAlchemy
Tempita
ZSI
argparse
chardet
decorator
## FIXME: could not find svn URL in dependency_links for this package:
##distribute==0.6.24dev-r0
fpconst
lxml
passlib
psycopg2
pyOpenSSL
python-apt
python-dateutil
python-debian
python-debianbts
python-ldap
sqlalchemy-migrate
wsgiref

